body{
	width: 100%;
	background-color: #19005e;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
}
.mnu-border-right{
	border-right: 3px solid #54b400;
}
.social-menu{
	text-align: right;
}
.navbar-default{
	background-color: transparent;
	border: none;
	color: white;
}
a.navbar-brand{
	margin-top: 0;
	padding-top: 0;
}
.img-brand{
	margin-top: -15px;
	height: 65px;
}
.navbar{
	margin-bottom: 10px;
}
header{
	margin-bottom: 10px;
}
.nav > li > a{
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
	color: white;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
.vcenter {
	display: flex;
    align-items: center;
}
.mnu-info{
	color: white;
}
.bg-blanco{
	background-color: white;
}
.bg-azul{
	background-color: #19005e;
}
.bg-verde{
	background-color: #54b400;
}
.blanco{
	color: white;
}
.azul{
	color: #19005e;
}
.verde{
	color: #54b400;
}
.cuadros-container{
	padding: 10px;
}
.cuadro{
	margin: 10px;
	padding: 5px;
}
.circle-img{
	border-radius: 50%;
	padding: 10px;
	max-width: 100px;
}
.contenedor{
	position: relative;
	overflow: hidden;
}
.triangulo-bottom-left {
	position: absolute;
	top: 0;
	left: 250px;
    width: 0;
    height: 0;
    border-bottom: 450px solid #54b400;
    border-right: 300px solid transparent;
}
.cuadrado{
	position: absolute;
	top: 0;
	background-color: #54b400;
	height: 450px;
	width: 250px;
}
.carousel-caption{
	left: 30px;
	text-align: left;
	max-width: 30%;
}
.carousel-caption>p{
	font-size: 1.3em;
}
.carousel-indicators li{
	/*border: 1px solid #54b400;*/
}
.carousel .active{
	background-color: #54b400;
}
.carousel-indicators{
	color: #54b400;
	left: 0;
	margin-left: 0;
	padding-right: 40px;
	width: 100%;
	text-align: right;
}
.bg-gris{
	background-color: #282828;
}
#seccion-1{
	padding-top: 30px;
	padding-bottom: 30px;
}
.logo-mini{
	position: absolute;
	top: 0;
	height: 100%;
	left: -15%;
}

.btn-edit-item{
	margin-right: 5px;
}
.vertical-align {
	display: flex;
	flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
	display: flex;
	align-items: center;
	justify-content: center;
}
#seccion-2{
	padding-top: 30px;
	padding-bottom: 30px;
}
#seccion-3{
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer{
	background-color: black;
	color: white;
	padding: 10px;
}
.footer .fa-inverse{
	color: black;
}

#frmInicioSesion{
	max-width: 350px;
	margin: 0 auto;
}
.input-top{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.input-bottom{
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.btn-primary{
	background-color: #54b400;
	border-color: #397d00;
}
.btn-primary:hover, .btn-primary:focus{
	background-color: #397d00;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0px;
    text-align: right;
}
a.mnu-usuario{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#fgi-alert{
	padding-left: 10px;
	padding-right: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color: #54b400;
}
/**
Página Quienes somos
*/
.qs-seccion{
	width: 100%;
	min-height: 75vh;
	position: relative;
}
.alto{
	position: absolute;
	min-height: 100%;
	width: 100%;
}
#qs-seccion1{
	padding:20px;
}
#qs-seccion1 h2{
	margin-top: 0;
}

/*Pagina Contáctanos */
.ct-section{
	width: 100%;
	min-height: 80vh;
	position: relative;
}
.contact{
	padding: 15px 0px 0px 7%;
}
.ct-titulo{
	color: #19005E;
}
h2.ct-titulo{
	padding-bottom: 10px;
}
.contact iframe{
	padding-bottom: 10px;
	width: 450px;
	height: 250px;
}
.ct-texto{
	color: #616161;
}
span.ct-texto{
	font-size: 1.2em;
	letter-spacing: 3px;
}
.formular{
	padding-top: 100px;
	padding-bottom: 50px;
}
label.ct-titulo{
	font-weight: 700;
	font-size: 1.4em;
}
.consul{
	margin-left: -12px;
}
.btn-contactar, .btn-contactar:hover{
	background-color: #19005E;
	border-color: #19005E;
}
.sin-radius{
	border-radius: 0px;
}
.sin-margen{
	padding-right: 0px;
	padding-left: 0px;
}

@media (max-width: 1199px){
	.contact{
		padding: 15px 0px 0px 27%;
	}
	.formular{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
@media (max-width: 991px){
	.img-brand{
		margin-top: -10px;
		height: 50px;
	}
	.nav > li > a{
		padding-left: 12px;
		padding-right: 12px;
	}
	.carousel-indicators{
		text-align: center;
		bottom: -10px;
		padding-right: 0;
	}
	.carousel-caption{
		bottom: -10px;
		max-width: 100%;
	}
	.carousel-caption>h2{
		font-size: 1.2em;
	}
	.carousel-caption>p{
		font-size: 1em;
	}
	.cuadrado{
		height: 100px;
		width: 100%;
		top: 100%;
		margin-top: -100px;
	}
	#seccion-1 .vertical-align {
		display: block;
		flex-direction: row;
	}

	#seccion-1 .vertical-align > [class^="col-"],
	#seccion-1 .vertical-align > [class*=" col-"] {
		display: block;
		align-items: center;
	}
}
@media (max-width: 767px){
	.img-brand{
		margin-top: 5px;
	}
	.img-carousel{
		max-width: 200%;
	}
	.vertical-align {
		display: flex;
		flex-direction: row;
	}
	.vertical-align > [class^="col-"],
	.vertical-align > [class*=" col-"] {
		display: flex;
		align-items: center;
	}
	.contact iframe{
		width: 300px;
		height: 200px;
	}
	span.ct-texto{
		font-size: 1.0em;
		letter-spacing: 1.5px;
	}
}
